*{
    margin: 0;
    padding: 0;
}


body{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #cccc;
}

h2{
    font-size: 24px;
    margin: 0 0 10px 0;
}
p{
  margin: 0 0 20px 0;
}
#response{
    width: 70%;
    margin: 60px auto;
    padding: 20px;
    background: #eee;
    overflow: hidden;
}

#sidebar{
    width: 35%;
    float: left; 
}
#sidebar ul{
    list-style: none;
}
#sidebar ul li a{
    display: block;
    text-decoration: none;
    padding: 3px 0;
    color: #900;
}

@media all and (min-width:1001px){
    #sidebar ul li a:after{
        content: "("attr(data-email)")";
        font-size: 11px;
        font-family:'Courier New', Courier, monospace;
        color: rgb(52, 52, 38);
    }
}

@media all and (max-width:1000px) and (min-width:700px){
    #sidebar ul li a:before{
        content: "Email:";
        color: blue;
        color: rgb(52, 52, 38);
    }
}

@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  #sidebar ul li a {
    padding-left: 21px;
    background: url(../lecture14/images/email.png) left center no-repeat;
  }
}

#main-content{
    width: 65%;
    float: right;
} 